<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="IsSqlLite" value="true" />
	</appSettings>

	<connectionStrings>
		<add name="MySql" connectionString="Server=127.0.0.1;Database=Library;Uid=Admin;Pwd=123" />
		<add name="SqLite" connectionString="Data Source=API.db" />
	</connectionStrings>

</configuration>